[Desktop Entry]
Type=Application
Name=Firo Masternode Tool
GenericName=Firo Masternode Tool
Comment=A tool for managing Firo masternodes
Exec=/app/opt/znode-tool/src/dash_masternode_tool.py
Icon=io.zcoin.ZnodeTool
Terminal=false
